/* reset.scss fayli brauzerlarning default uslublarini yo'q qilish yoki bir xilda ishlashini ta'minlash uchun ishlatiladi. Bu faylni asosiy loyihalarda ishlatish ancha foydali. Quyida asosiy reset.scss kodini ko'rishingiz mumkin: */
// Import all utilities
@use "../utilities/animations" as *;
@use "../utilities/functions" as *;
@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
*::-webkit-scrollbar {
  width: 10px;
  background: #dcefff;
}
*::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}
body {
  background: #fff;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: $xxl) {
    max-width: 1280px !important;
  }

  @media (max-width: $xl) {
    max-width: 1024px !important;
  }

  @media (max-width: $lg) {
    max-width: 768px !important;
  }

  @media (max-width: $md) {
    max-width: 640px !important;
  }

  @media (max-width: $sm) {
    padding: 0 12px;
    max-width: 450px !important;
  }

  @media (max-width: $xs) {
    max-width: 100% !important;
  }
}
